/* Styles */
.favorites__title-container {
	margin: 2rem 0;
}

.favorites__title {
	font-size: 3.8rem;
	font-weight: var(--fw-medium);
}

/* Media Queries */
@media screen and (max-width: 600px) {
	.favorites__title {
		font-size: 2.8rem;
	}
}
