/* Styles */

/* DetailsHeader.js */
.details__header {
	display: flex;
	align-items: center;
	margin: 1rem 0;
}

.details__name-container {
	display: flex;
	align-items: center;
}

.details__name {
	font-weight: var(--fw-medium);
}

.details__name.short {
	font-size: 4rem;
}

.details__name.long {
	font-size: 3rem;
}

.details__native-name {
	color: var(--grey-300--text);
	font-size: 2rem;
	margin-left: 1rem;
}

.details__favorite-status-container {
	margin-left: auto;
	display: inline-flex;
	align-items: center;
	padding: 0.6rem 1.2rem;
	border-radius: 6px;
	background-color: var(--grey-200);
	cursor: pointer;
}

.details__favorite-status-container:hover {
	background-color: var(--grey-200);
	transition: var(--transition);
}

.details__favorite-status-container small {
	white-space: nowrap;
	font-size: 1.6rem;
}

.details__favorite-status-container.favorited small {
	color: var(--green-primary);
}

.details__favorite-status-container.not-favorited small {
	color: var(--grey-300--text);
}

.details__favorite-status-dot {
	display: inline-block;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin-left: 1rem;
}

.details__favorite-status-container.favorited .details__favorite-status-dot {
	background-color: var(--green-primary);
}

.details__favorite-status-container.not-favorited
	.details__favorite-status-dot {
	background-color: var(--grey-300--text);
}

/* Details.js */
.details__image-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2em;
	place-items: center;
}

.details__flag {
	width: 100%;
	margin-top: 2rem;
}

.details__coat-of-arms {
	width: 100%;
	max-width: 200px;
}

.details__map-container {
	width: 100%;
	display: flex;
	gap: 2rem;
	margin-top: 2rem;
}

.details__map-container a {
	padding: 1em 2em;
	background-color: var(--grey-300);
	color: var(--grey-400);
	font-size: 1.2rem;
}

.details__map-container a:hover {
	filter: brightness(0.95);
	transition: var(--transition);
}

/* DetailsData.js */
.details__data {
	padding: 2rem 0;
}

.details__data-section {
	margin-top: 2rem;
	background-color: white;
}

.details__data-section:first-child {
	margin-top: 0;
}

.details__data-section-header {
	padding: 1rem 2rem;
	font-size: 1.6rem;
	background-color: var(--green-primary);
	color: white;
}

.details__data-section-content {
	padding: 2rem;
}

.details__data-section-entry {
	margin-top: 1rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.details__data-section-entry:first-child {
	margin-top: 0;
}

.details__entry-key {
	font-size: 1.6rem;
	margin-right: 0.5em;
	color: var(--grey-300--text);
}

.details__entry-value {
	font-size: 1.6rem;
	font-weight: var(--fw-medium);
}

.details__dropdown-button {
	padding: 1rem 2rem;
	font-size: 1.6rem;
	background-color: var(--grey-200);
	display: flex;
	align-items: center;
}

.details__dropdown-button > span {
	margin-right: auto;
}

.details__data-section-dropdown svg {
	transition: transform var(--transition);
}

.details__data-section-dropdown.open svg {
	transform: rotateZ(180deg);
}

.details__dropdown-panel {
	max-height: 0;
	overflow: hidden;
	transition: var(--transition);
}

.details__dropdown-panel-content {
	padding: 1rem 2rem;
}

.details__data-section-dropdown.open .details__dropdown-panel {
	max-height: 96rem;
}

.details__entry-value.multiple {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.details__entry-value-chip {
	font-size: 1.4rem;
	padding: 0.4em 1em;
	border-radius: 4rem;
	background-color: var(--grey-200);
}

.details__entry-value-chip:last-child {
	margin-right: 0;
}

.details__entry-value-chip small {
	margin-left: 0.4em;
	font-size: 1.4rem;
	font-weight: var(--fw-regular);
	color: var(--grey-300--text);
}

/* Media Queries */
@media screen and (max-width: 900px) {
	.details__native-name {
		display: none;
	}
}

@media screen and (max-width: 640px) {
	/* DetailsHeader.js */
	.details__header {
		display: block;
	}

	.details__name.short {
		font-size: 3.2rem;
	}

	.details__name.long {
		font-size: 2.2rem;
	}

	.details__favorite-status-container {
		margin-top: 1rem;
	}

	.details__favorite-status-dot {
		width: 10px;
		height: 10px;
	}

	/* Details.js */
	.details__image-container {
		grid-template-columns: 1fr;
	}
}
