/* --- CountryDB - Navbar.css --- Final */

/* Styles */
.navbar {
	height: 64px;
	background-color: var(--green-primary);
	position: sticky;
	top: 0;
	left: 0;
}

.navbar__flex-container {
	height: inherit;
	display: flex;
	align-items: center;
}

.navbar__logo {
	color: white;
	font-size: 2rem;
	font-weight: var(--fw-medium);
}

.navbar__favorites-container {
	margin-left: auto;
}

.navbar__favorites-container small {
	color: white;
	font-size: 2rem;
	font-weight: var(--fw-medium);
}

.navbar__favorites-amount-badge {
	display: inline-grid;
	place-items: center;
	margin-left: 1em;
	min-height: 30px;
	aspect-ratio: 1/1;
	border-radius: 6px;
	font-size: 1.6rem;
	font-weight: var(--fw-medium);
	color: var(--green-primary);
	background-color: white;
}

.navbar__favorites-container:hover small,
.navbar__logo:hover {
	color: var(--grey-200);
	transition: var(--transition);
}

.navbar__favorites-container:hover .navbar__favorites-amount-badge {
	background-color: var(--grey-200);
	transition: var(--transition);
}

/* Media Queries */
@media screen and (max-width: 600px) {
	.navbar {
		height: 54px;
	}

	.navbar__logo,
	.navbar__favorites-container small {
		font-size: 1.8rem;
	}

	.navbar__favorites-amount-badge {
		font-size: 1.6rem;
		margin-left: 0.8em;
		min-height: 25px;
	}
}
