.navbar {
    height: 72px;
    background-color: var(--primary-green);
}

.navbar-container {
    height: inherit;
    display: flex;
    align-items: center;
}

.logo {
    color: white;
    font-size: 2.6rem;
    font-weight: 500;
}

.favorites-container {
    margin-left: auto;
}

.favorites-container small {
    color: white;
    font-size: 2rem;
    font-weight: 500;
}

.favorites-amount-badge {
    font-size: 2rem;
    font-weight: 500;
    margin-left: 10px;
    color: var(--primary-green);
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 5px;
}

.favorites-container:hover small, .logo-container:hover .logo {
    color: var(--bg-grey);
    transition: 200ms;
}

.favorites-container:hover .favorites-amount-badge {
    background-color: var(--bg-grey);
    transition: 200ms;
}

@media screen and (max-width: 600px) {
    .navbar {
        height: 60px;
    }

    .favorites-amount-badge {
        height: 30px;
        width: 30px;
    }
}