/* --- CountryDB - Loading.css --- */

/* Styles */
.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .loading span {
    font-size: 2rem;
    font-weight:  var(--fw-medium);
  }
  