@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
  --primary-green: #00812C;
  --text-grey: #4D4D4D;
  --primary-grey: #E5E5E5;
  --bg-grey: #EFEFEF;

  --fw-regular: 400;
  --fw-medium: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-grey);
}

body, input, button {
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 80%;
  height: inherit;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 55%;
  }

  .container {
    width: 90%;
  }
}