/* --- CountryDB - index.css --- */

/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


/* Variables */
:root {
  --green-primary: #00812C;
  --green-dark--hover: #016623;
  --grey-dark--text: #6b6b6b;
  --grey-primary: #E5E5E5;
  --grey-light--bg: #EFEFEF;
  --black-light--hover: #272727;

  --fw-regular: 400;
  --fw-medium: 500;

  --transition: 200ms;

  --font-size: 62.5%;
}

/* Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
}

body {
  background-color: var(--grey-light--bg);
}

body, button, input {
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 80%;
  max-width: 1512px;
  height: inherit;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading-container span {
  font-size: 2rem;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  :root {
    --font-size: 55%;
  }

  .container {
    width: 90%;
  }
}