/* --- CountryDB - Banner.css --- Final */

/* Styles */
.banner {
	background-color: var(--grey-200);
	padding: 1.4rem 0;
}

.banner__link-container {
	display: flex;
	align-items: center;
}

.banner__link-container svg {
	font-size: 1rem;
}

.banner__link-container small {
	font-size: 1.4rem;
	margin-left: 1em;
	transition: margin-left var(--transition);
}

.banner__link-container:hover {
	color: var(--black--hover);
	transition: var(--transition);
}

.banner__link-container:hover small {
	margin-left: 0.8em;
}
